.main {
    width: auto;
    height: 100px;
}

.main .container {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.main .container .menus {
    float: left;
    margin-left: 20px;
    width: 320px;
    height: 480px;
}

.main .container .content {
    float: left;
    width: auto;
    height: auto;
    border: 1px solid red;
}